In [1]:
def namelist(names):
    if len(names) != 0:
        arr = []
        for i in range(0, len(names) -1):
            arr.append(names[i]['name'])
            x = ', '.join(arr)
            x += ' & ' + names[-1]['name'] if x != '' else names[-1]['name']
    return x

In [2]:
namelist([{'name': 'madhu'}, {'name': 'ganesh'}, {'name': 'sharma'}, {'name': 'geetha'}])

'madhu, ganesh, sharma & geetha'

In [3]:
def namelist(names):
    if len(names) > 1:
        return '{} & {}'.format(', '.join(x['name'] for x in names[:-1]), names[-1]['name'])
    elif names:
        return names[0]['name']
    else:
        return ''

In [4]:
namelist([{'name': 'ganesh'}, {'name': 'sharma'}, {'name': 'geetha'}])

'ganesh, sharma & geetha'

In [5]:
def bool_to_word(boolean):
    if boolean == 'true':
        return 'Yes'
    elif  boolean == 'false':
        return 'No'
    else:
        return None

In [6]:
bool_to_word('false')

'No'

In [7]:
lst = [-10, 6, -4, 18, -23, -66, -66, 94, 2, 14]
new_lst = []

while lst:
    minimum = lst[0] # considering random number in list
    
    for i in lst:
        if i < minimum:
            minimum = i
    new_lst.append(minimum)
    lst.remove(minimum)

print(new_lst)

[-66, -66, -23, -10, -4, 2, 6, 14, 18, 94]

In [8]:
print('Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are')

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [9]:
import datetime
now = datetime.datetime.now()
print('current data and time:')
print(now.strftime('%d/%m/%Y %H:%M:%S'))

current data and time:
28/01/2021 15:53:39

## Class variables and instance variables

In [10]:
class Employee():
    raise_amt = 1.04  # class variable
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@email.com'

    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def pay_raise(self):
        self.pay = int(self.pay * self.raise_amt)

In [11]:
emp1 = Employee('kim', 'kardashian', 14457)
emp2 = Employee('john', 'peter', 87237)

In [12]:
print(emp1.email)
print(emp2.email)

kim.kardashian@email.com
john.peter@email.com

In [13]:
print(emp1.fullname())
print(emp2.fullname())

kim kardashian
john peter

In [14]:
Employee.fullname(emp1)

'kim kardashian'

In [15]:
print(Employee.raise_amt)
print(emp1.raise_amt)
print(emp2.raise_amt)

1.04
1.04
1.04

In [16]:
emp1.__dict__

{'first': 'kim',
 'last': 'kardashian',
 'pay': 14457,
 'email': 'kim.kardashian@email.com'}

In [17]:
emp2.__dict__

{'first': 'john',
 'last': 'peter',
 'pay': 87237,
 'email': 'john.peter@email.com'}

In [18]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'raise_amt': 1.04,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              'fullname': <function __main__.Employee.fullname(self)>,
              'pay_raise': <function __main__.Employee.pay_raise(self)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [19]:
Employee.raise_amt = 2.54

In [20]:
print(Employee.raise_amt)
print(emp1.raise_amt)
print(emp2.raise_amt)

2.54
2.54
2.54

In [21]:
emp1.raise_amt = 5.68

In [22]:
print(Employee.raise_amt)
print(emp1.raise_amt)
print(emp2.raise_amt)

2.54
5.68
2.54

In [23]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'raise_amt': 2.54,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              'fullname': <function __main__.Employee.fullname(self)>,
              'pay_raise': <function __main__.Employee.pay_raise(self)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [24]:
emp1.__dict__

{'first': 'kim',
 'last': 'kardashian',
 'pay': 14457,
 'email': 'kim.kardashian@email.com',
 'raise_amt': 5.68}

In [25]:
emp2.__dict__

{'first': 'john',
 'last': 'peter',
 'pay': 87237,
 'email': 'john.peter@email.com'}

In [26]:
emp2.raise_amt = 5.89

In [27]:
emp2.__dict__

{'first': 'john',
 'last': 'peter',
 'pay': 87237,
 'email': 'john.peter@email.com',
 'raise_amt': 5.89}

In [28]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'raise_amt': 2.54,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              'fullname': <function __main__.Employee.fullname(self)>,
              'pay_raise': <function __main__.Employee.pay_raise(self)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [29]:
print(Employee.raise_amt)
print(emp1.raise_amt)
print(emp2.raise_amt)

2.54
5.68
5.89

In [30]:
Employee.raise_amt = 10

In [31]:
print(Employee.raise_amt)
print(emp1.raise_amt)
print(emp2.raise_amt)

10
5.68
5.89

## Classmethod and staticmethod

In [112]:
class People():
    num_of_peeps = 0
    raise_amt = 1.04  # class variable
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@email.com'
        
        People.num_of_peeps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def pay_raise(self):
        self.pay = int(self.pay * self.raise_amt)
        
    @classmethod
    def set_raise_amt(cls, amt):
        cls.raise_amt = amt
        
    @classmethod
    def from_string(cls, string):
        first, last, pay = string.split('-')
        return cls(first, last, pay)
    
    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True

In [114]:
import datetime
test_date = datetime.date(2016, 7, 9)
People.is_workday(test_date)

False

In [116]:
test_date1 = datetime.date(2016, 7, 13)
People.is_workday(test_date1)

True

In [74]:
pers3 = 'Pam-Beesly-3500'

In [76]:
new_pers = People.from_string(pers3)

In [81]:
print(new_pers.email)
print(new_pers.fullname)
print(new_pers.pay)

Pam.Beesly@email.com
<bound method People.fullname of <__main__.People object at 0x7f3c83f32310>>
3500

In [78]:
People.num_of_peeps

7

In [67]:
pers1 = People('Michael', 'Scott', 5000)
pers2 = People('john', 'krasanski', 3000)

In [68]:
People.num_of_peeps

2

In [69]:
People.set_raise_amt(2.5)

In [62]:
print(People.raise_amt)
print(pers1.raise_amt)
print(pers2.raise_amt)

2.5
2.5
2.5

In [63]:
pers2.set_raise_amt(10)

In [64]:
print(People.raise_amt)
print(pers1.raise_amt)
print(pers2.raise_amt)

10
10
10

In [117]:
num = 1

while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [124]:
loop_condition = True

while loop_condition:
    print("Loop Condition keeps: {}" .format(loop_condition))
    loop_condition = False

Loop Condition keeps: True

In [136]:
list(filter(lambda x : x > 5, range(8)))

[6, 7]

In [139]:
list(map(lambda x : x **2, range(11)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [146]:
from functools import *
reduce(lambda x, y : x * y, [1, 2, 4//2])

4

In [169]:
'ba'+ 'na'*2

'banana'

In [172]:
s = 'a' + '[' + 'b' + ':' + 'c' + ']'
s

'a[b:c]'

In [176]:
b=(1,)
type(b)

tuple

In [198]:
s = 'aaa bbb ccc ddd eee'
''.join(s.split(' '))

'aaabbbcccdddeee'

In [200]:
b = 45
b = str(b)
b

'45'

In [202]:
s = 'aaa bbb ccc ddd eee'
''.join(i for i in s if i != ' ')

'aaabbbcccdddeee'

In [203]:
s = 'aaa bbb ccc ddd eee'
s.replace(' ', '')

'aaabbbcccdddeee'

In [217]:
from random import shuffle

myList = [1, 2, 3, 4, 5, 6]
shuffle(myList)
myList

[4, 2, 1, 6, 3, 5]

In [221]:
nums=[1,2,5,10,3,100,9,24]
newNums = []
for i in nums:
    if i >= 5:
        newNums.append(i)
newNums

[5, 10, 100, 9, 24]