In [140]:
5*8

40

In [3]:
5/4

1.25

In [1]:
5//4

1

In [2]:
5%6

5

In [3]:
goof = "madhu"
goof[-5]

'm'

In [4]:
goof[-0]

'm'

In [5]:
"I'm gonna be the best python developer!"

"I'm gonna be the best python developer!"

In [6]:
print("madbox")

madbox

In [7]:
madbox

NameError: name 'madbox' is not defined

In [8]:
print("mad")
"mad"

mad

'mad'

In [9]:
"hello\tmad"

'hello\tmad'

In [10]:
"hello\t mad"

'hello\t mad'

In [11]:
"hello \tmad"

'hello \tmad'

In [12]:
print("hello\tmad")

hello	mad

In [17]:
print("hello\t\t\tmad")

hello			mad

In [19]:
print("hellot\nt\tmad")

hellot
t	mad

In [21]:
print("Hello world")

Hello world

In [24]:
x = "Hello world"

In [25]:
x

'Hello world'

In [26]:
print(x)

Hello world

In [27]:
x

'Hello world'

In [29]:
print(x[:-1])

Hello worl

In [32]:
print(x[::-1])

dlrow olleH

In [33]:
'2' + 8

TypeError: can only concatenate str (not "int") to str

In [34]:
name = 'jim'

In [35]:
name.upper()

'JIM'

In [36]:
name

'jim'

another try:

In [41]:
name

'jim'

In [43]:
print(name)

jim

Here, i can create notes!!

In [49]:
div = 584/5687

In [50]:
a

0.10269034640407948

In [51]:
print("The solution is: {}".format(a))

The solution is: 0.10269034640407948

In [52]:
print("The solution is: {a}".format(a))

KeyError: 'a'

In [53]:
print("The solution is: {a}".format(a = div))

The solution is: 0.10269034640407948

In [57]:
print("The solution is: {a.2f}".format(a = div))

AttributeError: 'float' object has no attribute '2f'

In [58]:
print("The solution is: {a:.2f}".format(a = div))

The solution is: 0.10

In [59]:
print("The solution is: {a:5.3f}".format(a = div))

The solution is: 0.103

In [61]:
print("The solution is: {a:10.3f}".format(a = div))

The solution is:      0.103

In [76]:
car_price_lookup = {'BMW': 5874, 'skoda': 4587, 'mercedes': 'out of stock'}

In [77]:
car_price_lookup[1]

KeyError: 1

In [78]:
car_price_lookup[skoda]

NameError: name 'skoda' is not defined

In [79]:
car_price_lookup[skoda]

NameError: name 'skoda' is not defined

In [80]:
car_price_lookup = {'BMW': 5874, 'skoda': 4587, 'mercedes': 487}

In [81]:
car_price_lookup['mercedes']

487

In [83]:
car_price_lookup = {'BMW': 5874, 'skoda': 4587, 'mercedes': 'out of stock'}

In [84]:
car_price_lookup['mercedes']

'out of stock'

In [86]:
pwd

'/home/madhu/projects/personal/python-tutorials/Udemy_Python'

In [163]:
%%writefile testfile.txt
My name is Madhu
I live in India
I am 22

Overwriting testfile.txt

In [164]:
with open('testfile.txt', mode = 'r') as tf:
    print(tf.read())

My name is Madhu
I live in India
I am 22

In [165]:
with open('testfile.txt', mode = 'a') as tf:
  tf.write("I am a Data Science enthusiast")

In [167]:
with open('testfile.txt', mode = 'r') as tf:
    print(tf.read())

My name is Madhu
I live in India
I am 22
I am a Data Science enthusiast

In [173]:
with open('abchdg.txt', mode = 'w') as a:
    a.write("tada!")

In [177]:
with open('abchdg.txt', mode = 'r') as a:
    print(a.read())

tada!

In [199]:
tup = [(1, 2, 'f'), (3, 4, 9), ('gh6', 5, 6)]
for x in tup:
    print(x)

(1, 2, 'f')
(3, 4, 9)
('gh6', 5, 6)

In [218]:
d = {"fg": 458}

In [219]:
"fg" in d.items()

False

In [221]:
from random import *

In [243]:
a = randint(-254, 568)

In [245]:
a

-42

In [249]:
ques = input("whats yo name? ")

whats yo name? mad

In [251]:
ques

'mad'

In [265]:
mystring = "madhu"
mylist = [x for x in mystring]

In [267]:
mylist

['m', 'a', 'd', 'h', 'u']

In [284]:
a = [x for x in range(0, 11) if x%2 == 0]
print(a)

[0, 2, 4, 6, 8, 10]

In [306]:
mylist = []
for x in [1,2,3]:
    for y in [4,5,6]:
        mylist.append(x*y*x)

In [307]:
mylist

[4, 5, 6, 16, 20, 24, 36, 45, 54]