In [1]:
def namelist(names):
    if len(names) != 0:
        arr = []
        for i in range(0, len(names) -1):
            arr.append(names[i]['name'])
            x = ', '.join(arr)
            x += ' & ' + names[-1]['name'] if x != '' else names[-1]['name']
    return x

In [2]:
namelist([{'name': 'madhu'}, {'name': 'ganesh'}, {'name': 'sharma'}, {'name': 'geetha'}])

'madhu, ganesh, sharma & geetha'

In [3]:
def namelist(names):
    if len(names) > 1:
        return '{} & {}'.format(', '.join(x['name'] for x in names[:-1]), names[-1]['name'])
    elif names:
        return names[0]['name']
    else:
        return ''

In [4]:
namelist([{'name': 'ganesh'}, {'name': 'sharma'}, {'name': 'geetha'}])

'ganesh, sharma & geetha'

In [5]:
def bool_to_word(boolean):
    if boolean == 'true':
        return 'Yes'
    elif  boolean == 'false':
        return 'No'
    else:
        return None

In [6]:
bool_to_word('false')

'No'

In [46]:
lst = [-10, 6, -4, 18, -23, -66, -66, 94, 2, 14]
new_lst = []

while lst:
    minimum = lst[0] # considering random number in list
    
    for i in lst:
        if i < minimum:
            minimum = i
    new_lst.append(minimum)
    lst.remove(minimum)

print(new_lst)

[-66, -66, -23, -10, -4, 2, 6, 14, 18, 94]

In [55]:
print('Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are')

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [98]:
import datetime
now = datetime.datetime.now()
print('current data and time:')
print(now.strftime('%d/%m/%Y %H:%M:%S'))

current data and time:
28/01/2021 11:55:49

In [153]:
class Employee():
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@email.com'

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

emp1 = Employee('kim', 'kardashian', 14)
emp2 = Employee('john', 'peter', 47)

In [154]:
print(emp1.email)
print(emp2.email)

kim.kardashian@email.com
john.peter@email.com

In [155]:
print(emp1.fullname())
print(emp2.fullname())

kim kardashian
john peter

In [156]:
print(Employee.fullname(emp1))

kim kardashian