# Classes, data structures and algorithm in python

In [1]:
class Car():
    def __init__(monkey, model, color): # object constructor
        monkey.model = model
        monkey.color = color
        
    def show(god):
        print("car model is: ", god.model)
        print("car color is: ", god.color)

audi = Car('r8', 'black')
ford = Car("mustang", 'orange')

In [2]:
audi.show()

car model is:  r8
car color is:  black

In [3]:
ford.show()

car model is:  mustang
car color is:  orange

In [4]:
class Test():
    def func(donut):
        print("self is replaced with donut")
        
obj = Test()
obj.func()

self is replaced with donut

In [5]:
class Employee():
    """common base class for all employees"""
    empcount = 0
    
    def __init__(self, name, age, salary):
        self.name = name
        self.salary = salary
        self.age = age
        Employee.empcount += 1
        
    def displaycount(self):
        print("Total employee:{}".format(Employee.empcount))
        
    def displayemployee(self):
        print("Employee name:", self.name, ", Emp salary:", self.salary,  ", age:", self.age,)
        
# defining the objects
emp1 = Employee("Madhu", 23, 45000)
emp2 = Employee("Ganesh", 18, 60000)

# calling the objects
emp1.displayemployee()
emp2.displayemployee()
print('Total employees:', Employee.empcount)

Employee name: Madhu , Emp salary: 45000 , age: 23
Employee name: Ganesh , Emp salary: 60000 , age: 18
Total employees: 2

In [6]:
hasattr(emp2, 'salary')

True

In [7]:
getattr(emp1, 'age')

23

In [8]:
setattr(emp1, 'name', 'Raj')

In [9]:
emp1.displayemployee()

Employee name: Raj , Emp salary: 45000 , age: 23

In [10]:
getattr(emp1, 'name')

'Raj'

In [11]:
print ("Employee.__doc__:", Employee.__doc__)
print('\n')
print ("Employee.__name__:", Employee.__name__)
print('\n')
print ("Employee.__module__:", Employee.__module__)
print('\n')
print ("Employee.__bases__:", Employee.__bases__)
print('\n')
print ("Employee.__dict__:", Employee.__dict__)

Employee.__doc__: common base class for all employees


Employee.__name__: Employee


Employee.__module__: __main__


Employee.__bases__: (<class 'object'>,)


Employee.__dict__: {'__module__': '__main__', '__doc__': 'common base class for all employees', 'empcount': 2, '__init__': <function Employee.__init__ at 0x7fa087ee3310>, 'displaycount': <function Employee.displaycount at 0x7fa087ee3d30>, 'displayemployee': <function Employee.displayemployee at 0x7fa087ee39d0>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>}

### Class inheritance

In [12]:
class Parent():
    parentAttr = 400
    
    def __init__(self):
        print("calling parent constructor")
        
    def parent_method(self):
        print("calling parent method")
        
    def setAttr(self, attr):
        Parent.setAttr = attr
    
    def getAttr(self):
        print("parent attribute:", Parent.setAttr)
    

class Child(Parent):
    def __init__(self):
        print("calling child constructor")
        
    def child_method(self):
        print("calling child method")
        

c = Child()
c.child_method()
c.parent_method()
c.setAttr(2500)
c.getAttr()

calling child constructor
calling child method
calling parent method
parent attribute: 2500

In [13]:
class Solution():
    def removeDuplicates(self, nums):
        if not nums:
            return 0
        
        new_arr = 0
        
        for i in range(1, len(nums)):
            if nums[i] != nums[new_arr]:
                new_arr += 1
                nums[new_arr] = nums[i]
                
        return new_arr + 1
    

    removeDuplicates('self', [2, 2, 2, 3, 3, 4])

In [14]:
expenses = {'january': 2200, 'february': 2350, 'march': 2600, 'april': 2130, 'may': 2190}

In [15]:
print("In feb, ${} was spent extra cmpared to jan.".format(abs(expenses['january'] - expenses['february'])))

In feb, $150 was spent extra cmpared to jan.

In [16]:
print("sum of first quater expenses: ${}".format(expenses['january'] + expenses['february'] + expenses['march']))

sum of first quater expenses: $7150

In [17]:
print("did i spend exactly $2000 in any month:", 2000 in expenses)

did i spend exactly $2000 in any month: False

In [18]:
expenses["june"] = 1980

In [19]:
expenses

{'january': 2200,
 'february': 2350,
 'march': 2600,
 'april': 2130,
 'may': 2190,
 'june': 1980}

In [20]:
expenses['april'] - 200

1930

In [21]:
heros=['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [22]:
len(heros)

5

In [23]:
heros.append('black panther')

In [24]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [25]:
heros.remove('black panther')

In [26]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [27]:
heros.insert(3, 'black panther')

In [28]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [29]:
heros[1: 3] = ['doctor strange']

In [30]:
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [31]:
heros.sort()

In [32]:
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

In [37]:
maxNum = int(input("enter the max number: "))

odd_list = []

for i in range(maxNum):
    if i % 2 == 1:
        odd_list.append(i)
        
print("odd numbers: ", odd_list)

enter the max number: 23
odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [44]:
class Node:
    def __init__(self, data=None, next=None):
        self.data = data
        self.next = next

class LinkedList:
    def __init__(self):
        self.head = None

    def print(self):
        if self.head is None:
            print("Linked list is empty")
            return
        itr = self.head
        llstr = ''
        while itr:
            llstr += str(itr.data)+' --> ' if itr.next else str(itr.data)
            itr = itr.next
        print(llstr)

    def get_length(self):
        count = 0
        itr = self.head
        while itr:
            count+=1
            itr = itr.next

        return count

    def insert_at_begining(self, data):
        node = Node(data, self.head)
        self.head = node

    def insert_at_end(self, data):
        if self.head is None:
            self.head = Node(data, None)
            return

        itr = self.head

        while itr.next:
            itr = itr.next

        itr.next = Node(data, None)

    def insert_at(self, index, data):
        if index<0 or index>self.get_length():
            raise Exception("Invalid Index")

        if index==0:
            self.insert_at_begining(data)
            return

        count = 0
        itr = self.head
        while itr:
            if count == index - 1:
                node = Node(data, itr.next)
                itr.next = node
                break

            itr = itr.next
            count += 1

    def remove_at(self, index):
        if index<0 or index>=self.get_length():
            raise Exception("Invalid Index")

        if index==0:
            self.head = self.head.next
            return

        count = 0
        itr = self.head
        while itr:
            if count == index - 1:
                itr.next = itr.next.next
                break

            itr = itr.next
            count+=1

    def insert_values(self, data_list):
        self.head = None
        for data in data_list:
            self.insert_at_end(data)


if __name__ == '__main__':
    ll = LinkedList()
    ll.insert_values(["banana","mango","grapes","orange"])
    ll.insert_at(1,"blueberry")
    ll.remove_at(2)
    ll.print()
    ll.insert_values([45,7,12,567,99])
    ll.insert_at_end(67)
    ll.insert_at_begining(100)
    ll.print()

banana --> blueberry --> grapes --> orange
100 --> 45 --> 7 --> 12 --> 567 --> 99 --> 67